<html>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
   <script src="scootable.js"></script>
   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
   <div class="container" ng-app="scootable" ng-controller="mainController">
      <table class="table table-bordered table-striped">
         <thead>
            <tr>
               <td>         
                  <a href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse">
                  ID
                  <span ng-show="sortType == 'id'" class="fa fa-caret-down"></span>
                  </a>
               </td>
               <td>  
                  <a href="#" ng-click="sortType = 'vehicle_type.name'; sortReverse = !sortReverse">
                  Vehicle Type
                  <span ng-show="sortType == 'vehicle_type.name'" class="fa fa-caret-down"></span>
                  </a>          
               </td>
               <td> 
                  <a href="#" ng-click="sortType = 'batt_pct_smoothed'; sortReverse = !sortReverse">
                  Battery Level
                  <span ng-show="sortType == 'batt_pct_smoothed'" class="fa fa-caret-down"></span>
                  </a>      
               </td>
               <td> 
                  <a href="#" ng-click="sortType = 'is_charging'; sortReverse = !sortReverse">
                  Charging?
                  <span ng-show="sortType == 'is_charging'" class="fa fa-caret-down"></span>
                  </a>      
               </td>
               <td>  
                  <a href="#" ng-click="sortType = 'estimated_range'; sortReverse = !sortReverse">
                  Range
                  <span ng-show="sortType == 'estimated_range'" class="fa fa-caret-down"></span>
                  </a>          
               </td>
               <td>
                  Lat/Lng    
               </td>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="scooter in scooters | orderBy:sortType:sortReverse">
               <td>{{ scooter.id }}</td>
               <td>{{ scooter.vehicle_type.name}}</td>
               <td>{{ scooter.batt_pct_smoothed }}%</td>
               <td>{{ scooter.is_charging === true ? "Yes" : "No" }}</td>
               <td>{{ scooter.estimated_range }} mi</td>
               <td><a ng-href="https://maps.google.com/maps?q={{scooter.latitude}},{{scooter.longitude}}">{{scooter.latitude}} {{scooter.longitude}}</a></td>
            </tr>
         </tbody>
      </table>
   </div>
</html>